{
	"server": {
		"name": "My OSX-Remote Server",
		"port": 8080,
		"password": ""
	},
	"modules": {
		"say": {
			"active": true
		},
		"launcher": {
			"active": true,
			"apps":[
				{
					"name": "Browser",
					"app": "Safari"
				}
			]
		}
	}
}